# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

frontend/node_modules
.DS_Store
frontend/dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
backend/api/__pycache__/*.pyc
backend/api/__pycache__/models.cpython-310.pyc
backend/.env
backend/docker/database/postgres-data
manage_config.py